.contact-row {
  display: flex;
  justify-content: space-between;
}
img {
  flex-direction: row;
}
.main {
  background-color: rgb(69, 10, 10);
  color: white;
}
.contact {
  text-align: center;
}
ul {
  list-style: none;
}

.contact ul li {
  margin-top: 20px;
}
