@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&family=Itim&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: brown;
  margin: 0;
  font-family: "Irish Grover", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: #000000;
  border: none;
  border-radius: 16;
  font-family: "Inria Serif";
  color: white;
  text-align: center;
  padding: 16px;
  justify-content: center;
  cursor: pointer;
}
header {
  padding: 8px 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5a030c;
  .logo {
    font-style: normal;
    font-weight: 400;
    font-size: 5vw;
    line-height: 77px;

    color: #000000;
  }

  nav a {
    margin-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 48px;
    /* identical to box height */

    color: #f5f5f5;
  }

  .icons a {
    margin-left: 12px;
  }

  .icons a img {
    border-radius: 50%;
  }
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  min-height: calc(100vh - 300px);
}

footer {
  background: #1a1a1a;
  padding: 40px 16px;
  color: white;
  text-align: center;

  .icons {
    margin-bottom: 16px;
    img {
      width: 40px;
      margin: 0 12px;
      border-radius: 50%;
    }
  }
}
