.layer:before,
.layer:after {
  content: "";
  position: fixed;
  inset: 0% -50%;
  background: rgb(213, 0, 0);
  clip-path: ellipse(70% 100% at 50% 100%);
  animation: 
    s0  1s .5s ease-out both,
    s1 .4s .5s both,
    s3 .5s 1.3s linear both;
}
.layer:after {
  background: rgb(97, 17, 17);
  animation-delay: 2s,2s,2.8s 
}
@keyframes s0 {
  0% {translate: 0 100%}
}
@keyframes s1 {
  to {inset: 0%}
}
@keyframes s3 {
  to {clip-path: ellipse(200% 100% at 50% 80%)}
}

body {
  background: #000;
}

*{
    z-index: 999999999999999999;
    position: relative;
}
.layer{z-index: 1;}