.main{
    background-color: rgb(69, 10, 10);
}
h2{
     /* our simulators */

text-align: center;
font-family: 'Italiana';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 151px;

background: linear-gradient(90deg, #F5F5F5 0%, #E8213F 71.64%);
-webkit-background-clip: text;

}